.user-icon {
  background-color: #101010; /* matches the dark circle behind user icon */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
.tags {
  display: flex;
  gap: 8px;
}
.tags .tag {
  width: 90px;
  height: 32px;
  border: 1px solid #c22026;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: rgba(194, 32, 38, 0.16);
}
