.box {
  width: "300px";
  height: "200px";
  background-size: cover; /* or contain */

  background-repeat: "no-repeat";
  background-position: "center";
  display: "block";
  position: "relative";
}
